<div class="row">

<div class="col-md-6">


<mat-card>  
        <div class="example-container">
          <form [formGroup]="form" (ngSubmit)="getNodeUserPost($event)">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Nuevo Producto Temporal</h4>
              </div>
              <div class="card-body">
    
                <mat-card>
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                    </div>
                    <mat-card-title>Nuevo Producto</mat-card-title>
                    <mat-card-subtitle>Ingrese los datos de productos correctamente</mat-card-subtitle>
                  </mat-card-header>
                  <div class="example-container">
                
                    <mat-form-field class="example-full-width">
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="nombre" type="text">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                      <mat-label>Apillido</mat-label>
                      <input matInput formControlName="apellido" type="text">
                    </mat-form-field>
    
                  </div>
                  <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit" >Guardar</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </form>
            
        </div>
        
        <button  (click)="getToken()"class="button" >PublicarPost</button>
      <button  (click)="publicar()"class="button" >Publicar</button>

     
     
     <button (click)="signInWithFB()">login </button>
     <button (click)="signOut()">salir </button>
    
 </mat-card>
</div>
<div class="col-md-6" *ngIf="user">
  <img src="{{ user.photoUrl }}">
<div >
  <h4>
    {{user.name}}
  </h4>
  <h2>{{user.email}}</h2>
</div>
</div>
</div>
